* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html, body {
    margin: 0;
    border: 0;
    padding: 10px 0px 10px 0px;
    background-color: #fff;
  }
  
  main {
    margin: auto;
    width: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  }
  
  main > h1 {
    text-align: center;
    font-size: 3.5em;
  }

/* css grid styles */

.my-name-title { grid-area: name;}
.my-info {grid-area: info;}
.my-profile {grid-area: profile;}
.my-visa-requirements {grid-area: visa;}
.my-employment-hist {grid-area: employment;}
.my-education {grid-area: education;}

.grid-container {
  display: grid;
  grid-template-areas: 
  'name name name'
  'info profile profile'
  'info visa visa'
  'info employment employment'
  'info education education';
  /* gap: 10px; */
  background-color: #ffffff;
}

/* page elements styles: my-info*/

.my-info {
  background-color: rgb(241, 241, 241);
  width: 300px;
}

/* page elements styles: my-name-title*/

.my-name-title {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.name-container {
  border: 1.75px solid black;
  width: 700px;
  padding: 3.75%;
  margin-left: -120px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
}

.empty-element {
  width: auto;
  background-color: rgb(241, 241, 241);
  width: 300px;
}

.name-container .empty-element {
  grid-row: 1/2;
}

my-name {
  font-size: 25px;
}

my-name > h1 {
  margin-left: 50px;
}

my-title {
  font-size: 17.5px;
}

my-title {
  margin-left: 50px;
}

/* page elements styles: my-info*/

/* details */
my-info > my-details > h1 {
  font-size: 25px;
  text-align: left;
  width: 200px;
  padding-bottom: 10px;
  margin-left: 40px;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
}

ul.details-list-items {
  list-style-type: none;
}

ul.details-list-items > li {
  padding-top: 20px;
}

ul.details-list-items > li > div {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* links */

my-info > my-links > h1 {
  font-size: 25px;
  text-align: left;
  width: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 40px;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
}

my-info > my-links > ul {
  padding-bottom: 20px;
}

ul.my-links-items {
  list-style-type: none;
}

ul.my-links-items > li {
  padding-top: 20px;
}

a:link    { color: black; text-decoration: none; }
a:visited { color: black; text-decoration: none; }
a:hover   { color: black; text-decoration: none; }
a:active  { color: black; text-decoration: none; }


/* skills */

my-info > my-skills > h1 {
  font-size: 25px;
  text-align: left;
  width: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 40px;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
}

ul.my-skills-items {
  list-style-type: none;
}

ul.my-skills-items > li {
  padding-top: 20px;
  font-weight: bold;
}

/* my-profile */

.my-profile > h1 {
  font-size: 25px;
  text-align: left;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  /* margin-left: 40px; */
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
}

.my-profile {
  width: 80%;
  /* padding-bottom: 10px; */
  /* padding-top: 10px; */
  margin-left: 40px;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
}

.my-profile > p {
  /* margin-left: 40px; */
  width: 100%;
  padding-top: 10px;
  line-height: 180%;
}

/* my-visa-requirements */

.my-visa-requirements > h1 {
  font-size: 25px;
  text-align: left;
  width: 80%;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-left: 40px;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
}

/* my-employment-hist */

.my-employment-hist > h1 {
  font-size: 25px;
  text-align: left;
  width: 80%;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-left: 40px;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
}

role {
  margin-left: 40px;
  font-weight: bold;
}

company-name {
  font-weight: bold;
}

location {
  text-align: right;
  position: relative;
  float: right;
  margin-right: 190px;
}

date-started {
  margin-left: 40px;
  margin-top: 100px;
}

job-highlights > ul {
  margin-left: 50px;
  width: 100%;
}

job-highlights > ul > li {
  width: 75%;
  line-height: 150%;
}

/* my-education */

.my-education {
  padding-bottom: 60px;
}

.my-education > h1 {
  font-size: 25px;
  text-align: left;
  width: 80%;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-left: 40px;
  border-bottom-style: solid;
  border-bottom-width: 0.75px;
}

course-level {
  margin-left: 40px;
  font-weight: bold;
}

institution-name {
  font-weight: bold;
}


